// Color Variables
$white: #fff;
$black: #30011E;
$primary-color:#F17F29;
$secondary-color:#04724D;
$extra-color:#C6CA53;
$border-color: #e5e5e5;
$black-light:#848485;
$yello:#ffc429;
$blue: #470FA8;
$heading-font:'Poppins', sans-serif;
$body-font:'Open Sans', sans-serif;